.container {
    display: flex;
    background: linear-gradient(75deg, rgb(20, 23, 33) 0%, rgb(20, 23, 33) 50%, rgba(20, 23, 33, 0.8) 100%);
    
  }

.homeContainer {
  display: flex;
  width: 100%;
}
  

body {
  font-family: Arial, sans-serif;
}

.profile {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center; /* Center the profile section */
  margin-top: 100px;
}

#profile-avatar {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 auto; /* Center the profile picture */
  background-position: center; /* Center the background image */
  background-size: cover; /* Scale the image to cover the div */
}

.profile-divs{
  padding: 10px;
}

label{
  float: left;
}

textarea{
  width: 75%;
  height: 55px;
}

#edit-profile-btn {
  background-color: #3b5998;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: 15px;
}
